.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.logo2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #bbbbbc;
    border-bottom: 1px solid #bbbbbc;
    padding: 20px;
    margin-bottom: 10px;
}


.formLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    color: white;
    background: black;
    padding: 50px;
    


    .btnSub{
        display: flex;
        margin: 40px auto;
        background-color: transparent;
        border-radius: 40px;
    }
}

form{
    > div{
        margin-top: 15px;
    }
    a{
        color: white;
        text-decoration: underline;
    }
}
